ClimaCameraNora (2).json
[{"id":"6e82664f.9becd8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8bd26be5.e4fb08","type":"server-state-changed","z":"6e82664f.9becd8","name":"Clima Camera","server":"26ef1aae.82ffd6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.clima_camera","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":220,"wires":[["56c43d40.03f2f4","fad087dd.64e1c8","395d0b2b.5a72e4","6803bd57.b49d14"]]},{"id":"42bb69e2.c23618","type":"nora-thermostat","z":"6e82664f.9becd8","devicename":"Clima Camera","roomhint":"Camera Matrimoniale","name":"Clima Camera","modes":"off,heat,cool,dry","unit":"C","topic":"clima camera","passthru":false,"commandOnly":true,"queryOnly":false,"bufferRangeCelsius":"1","nora":"","x":600,"y":240,"wires":[["32416cc7.0da2a4","2f3c1f33.f6186"]]},{"id":"56c43d40.03f2f4","type":"function","z":"6e82664f.9becd8","name":"mode","func":"msg.payload = {\"mode\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["42bb69e2.c23618"]]},{"id":"fad087dd.64e1c8","type":"function","z":"6e82664f.9becd8","name":"setpoint","func":"msg.payload = {\"setpoint\": msg.data.new_state.attributes.temperature};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["42bb69e2.c23618"]]},{"id":"395d0b2b.5a72e4","type":"function","z":"6e82664f.9becd8","name":"Temperature","func":"msg.payload = {\"temperature\": msg.data.new_state.attributes.current_temperature};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":260,"wires":[["42bb69e2.c23618"]]},{"id":"6803bd57.b49d14","type":"function","z":"6e82664f.9becd8","name":"Humidity","func":"msg.payload = {\"humidity\": msg.data.new_state.attributes.current_humidity};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["42bb69e2.c23618"]]},{"id":"32416cc7.0da2a4","type":"switch","z":"6e82664f.9becd8","name":"","property":"payload.mode","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"cool","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":240,"wires":[["cb11608f.bf1a4"],["ee7caf7d.3c729"],["62a89c72.7218f4"]]},{"id":"62a89c72.7218f4","type":"api-call-service","z":"6e82664f.9becd8","name":"Clima Camera OFF","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"script","service":"clima_camera_set_spegni","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":300,"wires":[[]]},{"id":"ee7caf7d.3c729","type":"api-call-service","z":"6e82664f.9becd8","name":"Clima Sala Freddo","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"script","service":"clima_camera_set_freddo","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":240,"wires":[[]]},{"id":"cb11608f.bf1a4","type":"api-call-service","z":"6e82664f.9becd8","name":"Clima Sala Caldo","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"script","service":"clima_camera_set_caldo","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":180,"wires":[[]]},{"id":"7dbf8eb2.26e7f","type":"api-call-service","z":"6e82664f.9becd8","name":"set Temperature","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.clima_camera","data":"{\"temperature\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":360,"wires":[[]]},{"id":"2f3c1f33.f6186","type":"change","z":"6e82664f.9becd8","name":"setpoint","rules":[{"t":"move","p":"payload.setpoint","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":360,"wires":[["7dbf8eb2.26e7f"]]},{"id":"26ef1aae.82ffd6","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]