flow smartplug.txt
[{"id":"b27d4153.c5e12","type":"switch","z":"2b47ef1.2768b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":120,"wires":[["74c5d33a.bdabc4"],["fa90e1ee.f758d8"]]},{"id":"74c5d33a.bdabc4","type":"api-call-service","z":"2b47ef1.2768b9","name":"","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.smartplug_letto1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":100,"wires":[[]]},{"id":"fa90e1ee.f758d8","type":"api-call-service","z":"2b47ef1.2768b9","name":"","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.smartplug_letto1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":160,"wires":[[]]},{"id":"cfd8aa2a.31315","type":"nora-switch","z":"2b47ef1.2768b9","devicename":"smartplug tv panasonic","roomhint":"dormitorio principal","name":"","passthru":true,"nora":"71e36b26.4cf37c","topic":"","onvalue":"on","onvalueType":"str","offvalue":"off","offvalueType":"str","x":310,"y":120,"wires":[["b27d4153.c5e12"]]},{"id":"c2dfcff8.8f1f1","type":"comment","z":"2b47ef1.2768b9","name":"smartplug letto1","info":"","x":100,"y":120,"wires":[]},{"id":"283c4920.f9c5e6","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"71e36b26.4cf37c","type":"nora-config","name":"nora config","group":"","notify":false}]