luce flussi nora.txt
[{"id":"f0a65b9a.aa441","type":"comment","z":"ee4ffddc.3ff66","name":"luce cucina","info":"","x":150,"y":100,"wires":[]},{"id":"f76797ce.487b98","type":"api-call-service","z":"ee4ffddc.3ff66","name":"","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.luce_cucina","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":60,"wires":[[]]},{"id":"b5fbeda9.98c108","type":"server-state-changed","z":"ee4ffddc.3ff66","name":"luce cucina","server":"283c4920.f9c5e6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.luce_cucina","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":270,"y":160,"wires":[["a8611743.fc95b"]]},{"id":"a8611743.fc95b","type":"switch","z":"ee4ffddc.3ff66","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":160,"wires":[["f279bf97.1a9428"],["c7768a8c.906fc8"]]},{"id":"35725ded.53f042","type":"switch","z":"ee4ffddc.3ff66","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":60,"wires":[["f76797ce.487b98"],["f76797ce.487b98"]]},{"id":"f3416a15.051c38","type":"nora-light","z":"ee4ffddc.3ff66","devicename":"luz","lightcolor":false,"brightnesscontrol":true,"turnonwhenbrightnesschanges":true,"passthru":true,"statepayload":false,"brightnessoverride":"","roomhint":"cocina","name":"","nora":"71e36b26.4cf37c","topic":"","onvalue":"on","onvalueType":"str","offvalue":"off","offvalueType":"str","x":670,"y":160,"wires":[["735d809c.32bd"]]},{"id":"44770a7c.9c9b34","type":"api-call-service","z":"ee4ffddc.3ff66","name":"luce cucina","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.luce_cucina","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":160,"wires":[[]]},{"id":"957d9bbf.ac5cf","type":"trigger-state","z":"ee4ffddc.3ff66","name":"","server":"283c4920.f9c5e6","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.switch_cucina_click","entityidfiltertype":"substring","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":400,"y":60,"wires":[["35725ded.53f042"],[]]},{"id":"735d809c.32bd","type":"ui_slider","z":"ee4ffddc.3ff66","name":"luminosita","label":"slider","tooltip":"","group":"ce1bf348.befba8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":830,"y":160,"wires":[["daae5067.4827a"]]},{"id":"daae5067.4827a","type":"function","z":"ee4ffddc.3ff66","name":"","func":"var newMsg =  {  \n   payload:{  \n      \"data\":{  \n         \"brightness_pct\":msg.payload,\n         \n      }\n   }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":160,"wires":[["44770a7c.9c9b34"]]},{"id":"f279bf97.1a9428","type":"api-render-template","z":"ee4ffddc.3ff66","name":"template","server":"283c4920.f9c5e6","template":"{{ (((states.light.luce_cucina.attributes[\"brightness\"] | float) / 253)  | float) * 100 }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":540,"y":120,"wires":[["f3416a15.051c38"]]},{"id":"c7768a8c.906fc8","type":"api-render-template","z":"ee4ffddc.3ff66","name":"template","server":"283c4920.f9c5e6","template":"0","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":540,"y":200,"wires":[["f3416a15.051c38"]]},{"id":"283c4920.f9c5e6","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"71e36b26.4cf37c","type":"nora-config","name":"nora config","group":"","notify":false},{"id":"ce1bf348.befba8","type":"ui_group","name":"Default","tab":"1a3a5369.d223b5","order":1,"disp":true,"width":"6","collapse":false},{"id":"1a3a5369.d223b5","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]