NoraSmartPlugToggle.txt
[{"id":"6e82664f.9becd8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1d43091e.8bf3a7","type":"nora-outlet","z":"6e82664f.9becd8","devicename":"Presa Test","roomhint":"Test","name":"Presa Test","passthru":false,"nora":"","topic":"Presa Test","onvalue":"on","onvalueType":"str","offvalue":"off","offvalueType":"str","x":310,"y":160,"wires":[["3c807770.6dcaf8"]]},{"id":"5fee9ca6.4636a4","type":"server-state-changed","z":"6e82664f.9becd8","name":"Presa Test","server":"26ef1aae.82ffd6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.slt1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":160,"wires":[["1d43091e.8bf3a7"]]},{"id":"3c807770.6dcaf8","type":"api-call-service","z":"6e82664f.9becd8","name":"","server":"26ef1aae.82ffd6","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.slt1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":160,"wires":[[]]},{"id":"26ef1aae.82ffd6","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]